@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.modal-content{
    background-color: $gray-900!important;

    .modal-body{
        text-align: center;
    }

    .modal-footer{
        text-align: center;
    }
}