@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.clock-and-date{
    text-align: center;

    .clock{
        font-weight: $font-weight-bold;
        font-size: 5rem;
    }

    button{
        width: 90px;
        height: 38px;
    }
}